/* Cabeçalho */

#tela-lista-treinos .conteudo header #botao-voltar {
    margin: 0px;
    margin-right: 10px;
    background-color: transparent;
}

#tela-lista-treinos .conteudo header #botao-voltar img {
    height: 16px;
}

#tela-lista-treinos .conteudo header h2 {
    padding-bottom: 5px;
    border-bottom: solid 1px;
    border-color: var(--cor-plano-de-fundo-primaria-escuro);
    flex: 1;
}

#tela-lista-treinos .conteudo header > button:first-of-type {
    margin-top: 5px;
    width: 100%;
}

/* Container Busca */
#tela-lista-treinos .conteudo #container-busca {
    display: flex;
    margin: 8px 0px;
}

#tela-lista-treinos .conteudo #container-busca input {
    flex: 1;
}

#tela-lista-treinos .conteudo #container-busca button {
    margin-left: 5px;
}

/* Ícones */

#tela-lista-treinos table tr td:last-child img {
    height: 16px;
}

#tela-lista-treinos #nenhum-registro {
    text-align: center;
}

/* Modal visualização de treino */

#tela-lista-treinos #modal-visualizacao-treino select {
    width: 100%;
}

#tela-lista-treinos #modal-visualizacao-treino {
    margin-top: 10px;
}

#tela-lista-treinos #modal-visualizacao-treino #sobre-o-treino {
    margin-top: 10px;
    background-color: var(--cor-plano-de-fundo-primaria-escuro);
    padding: 10px;
    border-radius: 7px;
}

#tela-lista-treinos #modal-visualizacao-treino #lista-exercicios {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#tela-lista-treinos #modal-visualizacao-treino .container-exercicio {
    background-color: var(--cor-plano-de-fundo-primaria-escuro);
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
}

#tela-lista-treinos #modal-visualizacao-treino .container-exercicio img {
    width: 100%;
    margin: 5px 0px;
}

#tela-lista-treinos #modal-visualizacao-treino #botao-fechar {
    margin-top: 10px;
    width: 100%;
}

/* Obs.: Configuração da tabela tá no global.css*/

/* Quando a largura da tela for 740px ou maior */

@media(min-width: 740px){
    #tela-lista-treinos .conteudo header {
        display: flex;
        flex-direction: row;
    }

    #tela-lista-treinos .conteudo header > button:first-of-type {
        width: auto;
    }
}